body {
  background-color: #FFFFFF;
  color: #916f6f;
  display: flex;
  width: 960px;
  margin: 0 auto;

}

body#colored {
  background-color: #9b7d7d;
  color: #FFF;
  display: flex;
  overflow-x: visible;
  width: 960px;
  margin: 0 auto;
}

nav {
  background-color: #916f6f;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 1;
}

@media screen and (max-width: 960px) {
  nav {
    position: absolute;
    width: inherit;
  }
}

main {
  position: relative;
  margin: 0 auto;
  margin-top: 110px;
  width: 900px;
  height: auto;
}

div#a {
  position: relative;
  margin: 0 auto;
  width: 900px;
  height: 80px;
  z-index: 2;
}

a.navLink {
  position: relative;
  color: #bca9a9;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 18pt;
  text-decoration: none;
  line-height: 150%;
  font-size: 18px;
  float: right;
  margin-top: 26px;
  padding-left: 18px;
}

a#current {
  font-weight: 500;
  color: #FFF;
}

a.navLink:hover {
  color: #FFF;
}

img#logo {
  height: 18px;
  margin-top: 31px;
  z-index: 1;
}

div#top {
  width: 900px;
  height: 80px;
  position: relative;
  font-family: Montserrat, sans-serif;
  margin-bottom: 25px;
}

div#be {
  text-align: right;
  font-size: 16pt;
  margin-top: -50pt;
}

a#behance {
  text-decoration: none;
  color: inherit;
}

a#behance:hover {
  text-decoration: underline;
}

div#spot {
  width: 100%;
  height: auto;
  /*background-color: #FFF;*/
}

div.tile {
  position: relative;
  width: 445px;
  height: 295px;
  float: left;
  transition: background-image .3s ease-in-out;
}

div#tile1 {
  background-image: url('resources/portfolioTile1.png');
  width: 900px;
}
div#tile1:hover {
  background-image: url('resources/portfolioTile1h.png');
  width: 900px;
}

div#tile2 {
  background-image: url('resources/portfolioTile2.png');
  margin-top: 10px;
}
div#tile2:hover {
  background-image: url('resources/portfolioTile2h.png');
}

div#tile3 {
  background-image: url('resources/portfolioTile3.png');
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 50px;
}
div#tile3:hover {
  background-image: url('resources/portfolioTile3h.png');
}

img.portPic {
  width: 700px;
  margin-left: 95.5px;
  margin-bottom: 50px;
  border: 7px;
  border-style: solid;
  border-color: #FFF;
}

p {
  margin: auto;
  font-size: 16pt;
}

h1 {
  font-size: 20pt;
  font-weight: 500;
}

h2 {
  font-size: 14pt;
  font-weight: normal;
}
